html,
body,
#root,
.app,
.row,
.col-md-6,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

#editor,
#preview {
  height: 100%;
  width: 100%;
}

#preview img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  /* Use flex to make sure content inside wrapper takes full height */
  flex-direction: column;
  height: 100%;
}